Repository Cornjebus/crimeminer--cw57h1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @accessibility-team, @devops-team, @compliance-team, @ml-team

Add public-samples/crimeminer--cw57h1/infrastructure/security/network-policies.yaml
  infrastructure/security/network-policies.yaml
Owners: @security-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/security/pod-security-policies.yaml
  infrastructure/security/pod-security-policies.yaml
Owners: @security-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/security/rbac.yaml
  infrastructure/security/rbac.yaml
Owners: @security-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/security/vault-config.yaml
  infrastructure/security/vault-config.yaml
Owners: @security-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/security-groups.tf
  infrastructure/terraform/aws/security-groups.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/aks.tf
  infrastructure/terraform/azure/aks.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/cosmos-db.tf
  infrastructure/terraform/azure/cosmos-db.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/key-vault.tf
  infrastructure/terraform/azure/key-vault.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/main.tf
  infrastructure/terraform/azure/main.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/nsg.tf
  infrastructure/terraform/azure/nsg.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/outputs.tf
  infrastructure/terraform/azure/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/provider.tf
  infrastructure/terraform/azure/provider.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/roles.tf
  infrastructure/terraform/azure/roles.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/storage.tf
  infrastructure/terraform/azure/storage.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/variables.tf
  infrastructure/terraform/azure/variables.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/terraform/azure/vnet.tf
  infrastructure/terraform/azure/vnet.tf
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/package.json
  src/backend/package.json
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/src/api-gateway/Dockerfile
  src/backend/src/api-gateway/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/src/api-gateway/package.json
  src/backend/src/api-gateway/package.json
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/src/api-gateway/tsconfig.json
  src/backend/src/api-gateway/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/src/api-gateway/src/index.ts
  src/backend/src/api-gateway/src/index.ts
Owners: @backend-team, @security-team

Add public-samples/crimeminer--cw57h1/src/backend/src/api-gateway/src/middleware/auth.middleware.ts
  src/backend/src/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Requires project lead review for unspecified files
* @project-leads

# Backend services requiring mandatory review from both backend and security teams
# for FedRAMP compliance
src/backend/** @backend-team @security-team

# Frontend application requiring frontend team review with accessibility compliance
src/web/** @frontend-team @accessibility-team

# Infrastructure code requiring both DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD workflows requiring DevOps and security review
.github/workflows/** @devops-team @security-team

# Authentication service requiring triple review from security, backend, and compliance teams
src/backend/auth/** @security-team @backend-team @compliance-team

# Machine learning service requiring ML, backend, and security team review
src/backend/ml/** @ml-team @backend-team @security-team

# Evidence processing service requiring backend, security, and compliance review
src/backend/evidence-processing/** @backend-team @security-team @compliance-team

# Security configurations requiring both security and compliance team review
infrastructure/security/** @security-team @compliance-team

# Kubernetes secrets requiring security, DevOps, and compliance team review
infrastructure/kubernetes/secrets/** @security-team @devops-team @compliance-team

# Audit service requiring security, compliance, and backend team review
src/backend/audit/** @security-team @compliance-team @backend-team

# Security documentation requiring security and compliance team review
docs/security/** @security-team @compliance-team
