Repository Cornjebus/crimeminer--cw57h1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @security-team, @frontend-team, @accessibility-team, @devops-team, @compliance-team, @ml-team

Add public-samples/crimeminer--cw57h1/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/crimeminer--cw57h1/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/crimeminer--cw57h1/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/.github/workflows/frontend-deploy.yml
  .github/workflows/frontend-deploy.yml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/crimeminer--cw57h1/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/crimeminer--cw57h1/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/crimeminer--cw57h1/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/api-gateway.yaml
  infrastructure/kubernetes/apps/api-gateway.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/auth-service.yaml
  infrastructure/kubernetes/apps/auth-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/case-service.yaml
  infrastructure/kubernetes/apps/case-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/evidence-service.yaml
  infrastructure/kubernetes/apps/evidence-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/ml-service.yaml
  infrastructure/kubernetes/apps/ml-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/notification-service.yaml
  infrastructure/kubernetes/apps/notification-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/search-service.yaml
  infrastructure/kubernetes/apps/search-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/storage-service.yaml
  infrastructure/kubernetes/apps/storage-service.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/apps/web-app.yaml
  infrastructure/kubernetes/apps/web-app.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/cert-manager.yaml
  infrastructure/kubernetes/base/cert-manager.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/ingress-controller.yaml
  infrastructure/kubernetes/base/ingress-controller.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/logging.yaml
  infrastructure/kubernetes/base/logging.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/monitoring.yaml
  infrastructure/kubernetes/base/monitoring.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/service-mesh.yaml
  infrastructure/kubernetes/base/service-mesh.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/base/storage-class.yaml
  infrastructure/kubernetes/base/storage-class.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/config/development.yaml
  infrastructure/kubernetes/config/development.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/config/production.yaml
  infrastructure/kubernetes/config/production.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/config/staging.yaml
  infrastructure/kubernetes/config/staging.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/secrets/development.yaml
  infrastructure/kubernetes/secrets/development.yaml
Owners: @security-team, @devops-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/secrets/production.yaml
  infrastructure/kubernetes/secrets/production.yaml
Owners: @security-team, @devops-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/kubernetes/secrets/staging.yaml
  infrastructure/kubernetes/secrets/staging.yaml
Owners: @security-team, @devops-team, @compliance-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/grafana-dashboards/api-gateway.json
  infrastructure/monitoring/grafana-dashboards/api-gateway.json
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/grafana-dashboards/infrastructure.json
  infrastructure/monitoring/grafana-dashboards/infrastructure.json
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/grafana-dashboards/services.json
  infrastructure/monitoring/grafana-dashboards/services.json
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/jaeger/config.yaml
  infrastructure/monitoring/jaeger/config.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/loki/config.yaml
  infrastructure/monitoring/loki/config.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/prometheus/alerts.yaml
  infrastructure/monitoring/prometheus/alerts.yaml
Owners: @devops-team, @security-team

Add public-samples/crimeminer--cw57h1/infrastructure/monitoring/prometheus/rules.yaml
  infrastructure/monitoring/prometheus/rules.yaml
Owners: @devops-team, @security-team

.github/CODEOWNERS:

# Requires project lead review for unspecified files
* @project-leads

# Backend services requiring mandatory review from both backend and security teams
# for FedRAMP compliance
src/backend/** @backend-team @security-team

# Frontend application requiring frontend team review with accessibility compliance
src/web/** @frontend-team @accessibility-team

# Infrastructure code requiring both DevOps and security review
infrastructure/** @devops-team @security-team

# CI/CD workflows requiring DevOps and security review
.github/workflows/** @devops-team @security-team

# Authentication service requiring triple review from security, backend, and compliance teams
src/backend/auth/** @security-team @backend-team @compliance-team

# Machine learning service requiring ML, backend, and security team review
src/backend/ml/** @ml-team @backend-team @security-team

# Evidence processing service requiring backend, security, and compliance review
src/backend/evidence-processing/** @backend-team @security-team @compliance-team

# Security configurations requiring both security and compliance team review
infrastructure/security/** @security-team @compliance-team

# Kubernetes secrets requiring security, DevOps, and compliance team review
infrastructure/kubernetes/secrets/** @security-team @devops-team @compliance-team

# Audit service requiring security, compliance, and backend team review
src/backend/audit/** @security-team @compliance-team @backend-team

# Security documentation requiring security and compliance team review
docs/security/** @security-team @compliance-team
